---
import Github from '~icons/ri/github-fill'
import Mail from '~icons/ri/mail-fill'
import Twitter from '~icons/ri/twitter-fill'
import Linkedin from '~icons/ri/linkedin-fill'
import file from '~icons/ri/file-fill'
---

<p>
	Hit me up on - 
	<a
		class="my-0 ml-1 mr-0.5 inline-flex translate-y-0.5 items-center font-serif
				font-light !no-underline transition hover:opacity-75"
		href="https://x.com/SinghHarshit46"
		target="_blank"
	>
		<Twitter class="size-4 text-[#1D9BF0]" />
		<span class="ml-1 border-b-2 border-[#1D9BF0] leading-none">
			Twitter
		</span>
	</a>,
	<a
		class="my-0 mr-0.5 inline-flex translate-y-0.5 items-center font-serif
					font-light !no-underline transition hover:opacity-75"
		href="https://github.com/harshit078"
		target="_blank"
	>
		<Github class="size-4 text-gray-100" />
		<span class="ml-1 border-b-2 border-gray-100 leading-none">GitHub</span>
	</a>
	<a
		class="my-0 mr-0.5 inline-flex translate-y-0.5 items-center font-serif
					font-light !no-underline transition hover:opacity-75"
		href="https://linkedin.com/in/harshit-s-353649131/"
		target="_blank"
	>
		<Linkedin class="size-4 text-[#1D9BF0]" />
		<span class="ml-1 border-b-2 border-gray-100 leading-none">Linkedin</span>
	</a>
	or
	<a
		class="my-0 ml-1 mr-0.5 inline-flex translate-y-0.5 items-center font-serif
				font-light !no-underline transition hover:opacity-75"
		href="mailto:harshitsingh467@gmail.com"
		target="_blank"
	>
		<Mail class="size-4 text-red-500" />
		<span class="ml-1 border-b-2 border-red-500 leading-none">Email</span
		>
	</a>.
	<a
	class="my-0 ml-1 mr-0.5 inline-flex translate-y-0.5 items-center font-serif
			font-light !no-underline transition hover:opacity-75"
	href="https://drive.google.com/file/d/1_DF_Y1CaZJvAs2_iFQZ__regvoaNpGFL/view?usp=sharing"
	target="_blank"
>
	<file class="size-4 text-red-500" />
	<span class="ml-1 border-b-2 border-red-500 leading-none">Resume</span
	>
</a>.
</p>
